.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.smallContainer {
  width: 30vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #ff9ce5,
    #e68eda,
    #ce81ce,
    #b574c2,
    #9d68b5,
    #8a5fab,
    #7857a1,
    #654e97,
    #53468d,
    #403e82,
    #2d3777,
    #152f6c
  );
}

.smallContainer h1 {
  color: #f1f5f9;
  font-size: 3.6vw;
  margin: 12px 6px;
}
.smallContainer p {
  color: #f1f5f9;
  font-size: 1.4vw;
  margin: 12px 4vw;
  text-align: center;
}

.smallContainer button {
  color: #f1f5f9;
  background-color: transparent;
  font-size: 1.6vw;
  font-weight: 600;
  padding: 6px 0px;
  margin: 12px 6px;
  width: 60%;
  height: fit-content;
  border: 2px solid #152f6c;
  border-radius: 24px;
}

.bigContainer {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f5f9;
}

.bigContainer h1 {
  color: #113955;
  font-size: 3vw;
  margin-bottom: 12px;
}
.bigContainer p {
  color: #113955;
  font-size: 1.2vw;
  font-size: 800;
  margin: 12px;
}

.loginWithGoogleContainer {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  color: #113955;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form label {
  color: #113955;
  font-size: 1.4vw;
  font-weight: 600;
  margin: 6px 0px 0px 0px;
  width: 100%;
}
.form input {
  color: #113955;
  font-size: 1vw;
  font-weight: 600;
  margin: 0px 0px 6px 0px;
  padding: 12px 6px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #113955;
  border-radius: 8px;
}

.form button {
  background-color: #113955;
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0px;
  padding: 6px;
  width: 100%;
  color: #f1f5f9;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .signinContainer {
    width: 100vw;
    height: fit-content;
  }
  .signupContainer {
    width: 100vw;
    height: fit-content;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
