.container{
    display: flex;
    flex-direction: column;
    width: 14vw;
    background-color: #30475E;
    padding: 8px;
    margin-top: 8px;
    height: 85vh;
    margin-right: 6px;
    border-radius: 20px;
    
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    border-bottom: 2px solid #D68910  ;

}
.title p{
    color: #F05454;
    font-size: 1.5vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.addButton{
    color: #28B463 ;
}

.inputbox{
    margin-top: 6px;
    height: 24px;
    border-radius: 12px;

}

.deleteButton{
    color: crimson;
  }