.container{
    display: flex;
    align-items: center;
    height: 36px;
    background: #DDDDDD;
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 18px;
    width: 12vw; 
    text-overflow: clip;
    overflow: hidden;
    transition: all .3s ease-in-out;
    user-select: none;
}

.container p{
    font-size: 1.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#222831 ;
    
}
.container:hover{
    filter: invert(90%);
}

.selected{
    height: 40px;

}

.selected p{
    font-size: 1.5vw;
    font-weight: 500;
    color: #F05454;
}



