.container {
  height: 100%;
  width: 100%;
  margin: 8px 0px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.fileIcon {
  color: #113955;
  width: 20%;
  height: fit-content;
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  justify-content: space-between;
  align-items: start;
}

.titleText {
  color: #113955;
  font-size: 16px;
  font-weight: 600;
}

.optionMenu {
  background-color: #f1f5f9;
  padding: 8px;
  height: fit-content;
  width: fit-content;
  z-index: 2;
  position: absolute;
  right: -20px;
  top: 40px;
  margin: 20px;
}

.customButtonConatiner {
  display: flex;
  padding: 4px;
  width: 100%;
  margin: 6px 0px 0px 0px;
  color: #113955;
  background-color: transparent;
  align-items: center;
  user-select: none;
}

.customButtonText {
  color: #113955;
  font-size: 16px;
  font-weight: 600;
  margin-left: 4px;
}

.deleteButton {
  color: red;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: end;
  color: red;
}

.inputContainer {
  background-color: #fff;
  border-radius: 4px;
  height: 36px;
  width: 180px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.inputContainer input {
  background-color: transparent;
  height: 100%;
  width: 160px;
  font-size: 16px;
  margin-left: 12px;
}
