.app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.border-primary {
  border: 1px solid #4f5ca0;
  border-radius: 8px;
}
.border-primary-md {
  border: 2px solid #4f5ca0;
  border-radius: 8px;
}

.shadow-sm {
  box-shadow: 0px 1px 2px #4f5ca05c;
}

.shadow-base {
  box-shadow: 0px 1px 3px #4f5ca05c;
}

.shadow-md {
  box-shadow: 0px 4px 6px #4f5ca05c;
}

.shadow-lg {
  box-shadow: 0px 10px 15px #4f5ca05c;
}

.shadow-inner {
  box-shadow: inset 0px 2px 4px #4f5ca05c;
}

.quill {
  height: 90%;
}
.ql-editor {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.23);
}
.ql-editor::-webkit-scrollbar {
  width: 10px;
}
.ql-editor::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.ql-editor::-webkit-scrollbar-thumb {
  background-color: #206ca1;
  border-radius: 100px;
}
