@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDDDDD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F05454;
}


html {
  font-size: 62.5%;
}

body {
  background-color: #222831;
  height: 100vh;
  width: 100vw;
  line-height: 1.7;
  margin: 0;
  padding: 8px;
}


h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}


/* editor Css */
.ql-toolbar {
  background-color: #DDDDDD;
  color: #D68910;
  position: -webkit-sticky;

  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  border: none;

}

.ql-container {
  color: #DDDDDD;
  background-color: #222831;
  border: none;


}

.ql-container>.ql-editor.ql-blank::before {
  font-size: 20px;
  color: #F05454;
}


.ql-picker.ql-font .ql-picker-label[data-value="lateef"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="lateef"]::before {
  font-family: "Lateef", cursive;
  content: "Lateef";
}

.ql-picker.ql-font .ql-picker-label[data-value="markazi-text"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="markazi-text"]::before {
  font-family: 'Markazi Text', serif;
  content: "Markazi";
}