body{
    background-color: #242b2e;
    
}

/* NOETBOOK Css */
.activeNoteBookCard {
    margin: 8px;
    background-color: #3e4a4f;
    padding:2px 2px 2px 20px;

}
.inActiveNoteBookCard {
    margin:4px;
    padding:2px;
}
.inActiveNoteBookCard:hover{
    background-color:#3e4a4f;
    cursor: pointer;
}

/* editor Css */
.ql-toolbar {
    background-color: #fff;
    color: #1b98f5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .ql-container {
    min-height: 85vh;
  }

  .sidebar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    height: 98vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 2;
  }
  .sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}